*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'lucida-bright-regular', sans-serif;
}
a{
    text-decoration: none;
    color:#000;
}
.container{
    max-width: 1140px;
    width: 90%;margin: 0 auto;
}
header{
    height: 132px;
    display: flex;
    align-items: center;
}
header .container nav{
    display: flex;
    justify-content: space-between;
}

header .container nav ul:first-child{
    display: flex;
    justify-content: flex-start;
}
header .container nav ul:first-child li:not(:last-child){
    margin-right: 67px;
}
header .container nav ul:last-child li:not(:first-child){
    margin-left: 51px;
}
header .container nav ul:last-child{
    display: flex;
    justify-content: flex-end;
}
header .container nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .container nav ul li{
    list-style: none;
    font-weight: 600;
    font-size: 24px;
    padding-bottom: 14px;
}
header .container nav ul .active{
    border-bottom: 1.5px solid #056B11;;
}
header .container nav ul li a{
    color: #863503;
}
header .container nav ul li .search-input-wrapper{
    position: relative;
}
header .container nav ul li .search-input-wrapper img{
    position: absolute;
    right:17px;
    top:8px;
}
header .container nav ul li #search-input{
    width: 226px;
    height: 38px;
    background: rgba(210, 158, 126, 0.1);
    border-radius: 7px;
    border: none;
    padding:5px 40px 5px 20px;
}
.home-board{
    height: 826px;
    width: 100%;
    background: rgba(134, 53, 3, 0.07);
    position: relative;
}
.home-board .container{
    display: flex;
}
.home-board .container .board-box1 {
    position: relative;
    width: 50%;
}
.home-board .container .home-logo-img{
    position: absolute;
    top:-41px;
    left:0;
}
.home-board .container h1{
    margin-top: 261px;
    font-weight: 600;
    font-size: 54px;
    line-height: 64px;
    letter-spacing: 0.02em;
    color: #863503;
    text-transform: capitalize;
}
.home-board .container p{
    font-size: 24px;
    line-height: 28px;
    color: #863503;
    margin-top: 43px;
    margin-bottom:120px;
}
.home-board .container .board-box2 .white-bg{
    position: absolute;
    right: 0;
    top: 100px;
}
.home-board .container .board-box2 .coffees-img{
    position: absolute;
    right: 0;
    top:120px;
}
.section2{
    padding-top: 126px;
    padding-bottom: 100px;
    position: relative;

}
.todays-specials{
    display: flex;
    justify-content: space-between;
    margin-top: 110px;
    cursor: pointer;
}
.todays-specials-title{
    font-weight: 600;
    font-size: 32px;
    border-bottom: 2px solid #056B11;
    display: inline;
    color: #863503;
    padding: 0 5px 26px 5px;
}
.section2 .todays-specials .box img{
    transition: 300ms;
}
.section2 .todays-specials .box img:hover{
    border-radius: 11.1985px;
    transform:scale(1.1)
}
.todays-specials p{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 23px;
}
.todays-specials p span:first-child{
    font-weight: 600;
    font-size: 20px;
    color: #05520D;
}
.todays-specials p span:last-child{
    font-weight: 600;
    font-size: 15px;
    color: #7D0202;
}
.section2 .more-options-btn{
    font-weight: 600;
    font-size: 18px;
    background: none;
    border: 2px solid #05520D;
    border-radius: 15px;
    padding: 11px 28px;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
    transition: 300ms;
}
.section2 .more-options-btn:hover{
    background: #05520D;
    color:#fff;
}
footer{
    background: rgba(183, 138, 109, 0.24);
    margin-top: 176px;
    padding-top: 36px;
    padding-bottom: 10px;
    cursor:default
}
.footer-menu{
    display: flex;
    justify-content: space-between;
}
.footer-menu .social-icons{
    margin-top: 64px;
}
.footer-menu .footer-box1 a:not(:last-child){
    margin-right: 50px;
}
.footer-menu .footer-box1 a img{
    transition: 300ms;
}
.footer-menu .footer-box1 a img:hover{
    transform: scale(1.3);
}
.footer-menu .footer-box1 p{
    font-size: 24px;
    color: #400404;
    margin-top: 67px;
}
.footer-menu .footer-box2 h4, .footer-menu .footer-box3 h4{
    font-weight: 600;
    font-size: 20px;
    color: #05520D;
    margin-bottom: 45px;
}
.footer-menu .footer-box2 p, .footer-menu .footer-box3 p{
    font-size: 18px;
    color: #863503;
    margin-bottom: 28px;
}
.footer-menu .footer-box3 button{
    background: none;
    border: none;
    font-size: 18px;
    color: #863503;
    font-weight: 600;
    cursor: pointer;
}
.footer-menu .footer-box3 button:hover{
    color:#05520D;
}
.footer-menu .footer-box3 .contact-email{
    text-decoration: underline;
    cursor: pointer;
}
.menu-list{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 120px;
}
.menu-list a{
    font-weight: 600;
    font-size: 24px; 
    color: rgba(134, 53, 3, 0.7);
    padding: 10px 27px;
}
.menu-list a:not(:last-child){
    border-right: 1px solid #000000
}
.menu-list .active{
    color: #863503;
}
.product-content{
}
.product-content section{
    display: flex;
    width: 100%;
    margin-bottom: 80px;
    justify-content: space-between;
}

.product-content .product{
    display: flex;
    width: 50%;
    justify-content: space-between;
    width: 46%;
    cursor: pointer;
}
.product-content .product:last-child{
    align-self: right;
}
.product-content .product .product-info{
    text-align: right;
}
.product-content .product .product-info .product-title{
    display: block;
    font-weight: 600;
    font-size: 20px;
    color: #05520D;
    text-transform: uppercase;
    margin-bottom: 25px;
    line-height: 29px;
    max-width:216px;
}
.product-content .product .product-info .product-price{
    font-weight: 600;
    font-size: 15px;
    color: #7D0202;
}
.locations-board{
    margin-top: 76px;
}
.locations-board h4{
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    color: #05520D;
}
.locations-board .locations-content{
    display: flex;
    justify-content: space-between;
    margin-top: 110px;
}
.locations-board .locations-content ul li{
    line-height: 21px;
    font-size: 18px;
    line-height: 21px;
    color: #863503;
    margin-bottom: 24px;
}
.locations-board .locations-content ul:first-child li{
    font-weight: 600;
}
.locations-board .location-map{
    text-align: center;
    padding: 162px 0 40px 0;
}
.locations-board .location-map iframe{
    border-radius: 15.7368px;
    width: 897px;
    height: 460px;
}
.about-board{
    padding-top: 125px;
}
.about-board section{
    display: flex;
    justify-content: space-between;
    margin-bottom: 165px;
}
.about-board section .text-content h4{
    font-weight: 600;
    font-size: 28px;
    color: #05520D;
    margin:0 25px 64px 25px;
    max-width: 475px;
}
.about-board section .text-content .title-right{
    text-align: right;
}
.about-board section .text-content p{
    font-size: 24px;
    line-height: 173.27%;
    color: #863503;
}